pkgbase = yay-bin
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go. Pre-compiled.
	pkgver = 12.3.5
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = aarch64
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	provides = yay
	conflicts = yay
	source_aarch64 = https://github.com/Jguer/yay/releases/download/v12.3.5/yay_12.3.5_aarch64.tar.gz
	sha256sums_aarch64 = 43979bc4ec2456d04afdaa9fbc8244aaac3336d4f9e422570a96fa8c9f6247a1

pkgname = yay-bin
